#CODECHECKER_URL=http://codechecker-web:8001/Default
#CONAN_LOGIN_USERNAME=admin
#CONAN_PASSWORD=password
#CONAN_REMOTE=http://artifactory-cpp-ce:8082/artifactory/api/conan/conan-local
#CONAN_SSL_VERIFICATION=false
#NETWORK=elbb-dev
